.player.left {
/*    -webkit-transform: rotate(90deg) translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;*/
    position: absolute;
    top: 30%;
    left: 0px;
  }

.player.right {
/*    -webkit-transform: rotate(270deg) translate(-50%, -50%);
    -webkit-transform-origin: 0% 0%;*/
    position: absolute;
    right: 10px;
    top: 30%;
}

.player.top {
/*    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;*/
    position: absolute;
    top: 50px;
    left: 50%;
    text-align: center;
}

.player.bottom {
    position: absolute;
    bottom: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

li {
    list-style-type: none;
}

div.card {
    float: left;
    clear: none;
    width: 76px;
    padding: 0px 3px;
}

div.card p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
    word-wrap: break-word;
}

.activePlayer {
    color: red;
}

.winningPlayer {
    color: gold;
}

.trick {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

.footer {
    position: absolute;
    bottom: 0;
}

.played-cards td {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
}

.player1card img {
   -webkit-transform: rotate(90deg);
    -webkit-transform-origin: 50% 50%;
 }

.player2card img {
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
}

.player3card img {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
}

h1,h2,h3,h4,h5,p {
    padding: 0;
    margin: 0;
}

body {
    background-color: #9a7;
}

.summary {
    position: absolute;
    top: 20%;
    left: 30%;
}

div.player-cards {
    text-align: center;
    margin: 0 auto;
}
